---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ .Values.redisOperator.name }}-role
  labels:
    app.kubernetes.io/name : {{ .Values.redisOperator.name }}
    helm.sh/chart : {{ .Chart.Name }}-{{ .Chart.Version }}
    app.kubernetes.io/managed-by : {{ .Release.Service }}
    app.kubernetes.io/instance : {{ .Release.Name }}
    app.kubernetes.io/version : {{ .Chart.AppVersion }}
    app.kubernetes.io/component: role
    app.kubernetes.io/part-of : {{ .Release.Name }}
rules:
  - apiGroups: [""]
    resources:
      - secrets
      - pods
      - pods/exec
      - services
      - configmaps
      - events
      - namespaces
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups: ["apps"]
    resources:
      - statefulsets
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups: ["redis.redis"]
    resources:
      - redis
      - redis/finalizers
      - redis/status
      - redisclusters
      - redisclusters/finalizers
      - redisclusters/status
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups: ["coordination.k8s.io"]
    resources:
      - leases
    verbs:
      - get
      - watch
      - list
      - create
      - update
      - patch