---
apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/name : {{ .Values.redisOperator.name }}
    helm.sh/chart : {{ .Chart.Name }}-{{ .Chart.Version }}
    app.kubernetes.io/managed-by : {{ .Release.Service }}
    app.kubernetes.io/instance : {{ .Release.Name }}
    app.kubernetes.io/version : {{ .Chart.AppVersion }}
    app.kubernetes.io/component: service
    app.kubernetes.io/part-of : {{ .Release.Name }}
  name: {{ .Values.redisOperator.name }}-service
spec:
  selector:
    app.kubernetes.io/instance: {{ .Values.redisOperator.name }}
  ports:
    - port: 9090
      protocol: TCP
      targetPort: 9090
  type: {{ .Values.redisOperator.service.type }}
  